<aside class="sidebar">
    <h3>MENU DIDÁTICO</h3>
    
    <!-- MENU TESTADO -->
    <div class="side-group">
        <strong>GEOGRAFIA</strong>
        <button class="menu-tab" data-tab="tiled-web-map3">⭐ Cidade de Natal</button><br>
    </div>

    <h3>MENU ANALÍTICO</h3>
    
    <!-- MENU TESTADO -->
    <div class="side-group">
        <strong>MEDIAÇÃO FAMÍLIA</strong>
        <button class="menu-tab" data-tab="split-packed-bubble">🫧 4 Eixos | Bolhas</button>
        <button class="menu-tab" data-tab="4-eixos-img">🧠 4 Eixos | Imagem</button>
        <button class="menu-tab" data-tab="agenda-gui">⚡ Agenda | Pautas-Bomba</button>

    </div>
  
</aside>
